.about__title {
	font-family: @opensans;
	font-size: 25px;
	font-weight: 700;
	line-height: 30px;
	color: @black;
}

.about__list-item {
	font-family: @opensans;
	font-size: 17px;
	font-weight: 700;
	line-height: 20px;
	color: @black;
	&--flower {
		
	}
	&--money {
		
	}
	&--heart {
		
	}
	&--clew {
		
	}
	&--rocket {
		
	}
	&--gift {
		
	}
}